<md-toolbar class="md-theme-light">
	<h1 class="md-toolbar-tools">Add New Listing</h1>
</md-toolbar><!-- ./ md-theme-light -->
<md-content layout-padding>
	<form>
		<md-input-container>
			<label for="title">Title</label>
			<input type="text" id="title" ng-model="classified.title" md-autofocus>
		</md-input-container>
		<md-input-container>
			<label for="price">Price</label>
			<input type="text" ng-model="classified.price" id="price">
		</md-input-container>
		<md-input-container>
			<label for="description">Description</label>
			<textarea type="text" ng-model="classified.description" id="description"></textarea>
		</md-input-container>
		<md-input-container>
			<label for="image">Image Link</label>
			<input type="text" ng-model="classified.image" id="image">
		</md-input-container>
		<md-button class="md-primary" ng-click="saveListing(classified)">Save</md-button>
		<md-button class="md-warn" ng-click="closeSidebar()">Cancel</md-button>
	</form><!-- ./ form -->
	<pre>{{ classified | json }}</pre>
</md-content><!-- ./ layout-padding -->