<md-card flex="30" class="listing"
	ng-repeat="classified in classifieds | filter: listingsFilter | filter: category">
	<img ng-src="{{ classified.image }}" alt="{{ classified.altname }}"/>
	<md-card-content>
		<div class="classifiedinfo" ng-show="!showContactInfo">
			<h2 class="md-title">{{ classified.title }}</h2>
			<h3>{{ classified.price | currency }}</h3>
			<p>{{ classified.description }}</p>
		</div><!-- ./ classifiedinfo -->
		<div class="classified-contact" ng-show="showContactInfo">
			<p><md-icon class="mdi mdi-account"></md-icon>{{ classified.contact.name }}</p>
			<p><md-icon class="mdi mdi-phone"></md-icon>{{ classified.contact.phone }}</p>
			<p><md-icon class="mdi mdi-email"></md-icon>{{ classified.contact.email }}</p>
		</div><!-- ./ classified-contact -->
		<div layout="row">
			<md-button ng-click="showContactInfo = true" ng-show="!showContactInfo">
				Contact
			</md-button>
			<md-button ng-click="showContactInfo = false" ng-show="showContactInfo">
				Details
			</md-button>
			<md-button ng-click="showAdmin = true" ng-show="!showAdmin">
				Admin
			</md-button>
			<md-button ng-click="showAdmin = false" ng-show="showAdmin">
				Close
			</md-button>
		</div><!-- ./ row - for buttons -->
		<div class="classified-admin" ng-if="showAdmin">
			<h3>Admin Area</h3>
			<div layout="row">
				<md-button ng-click="vm.editListing(classified)" class="md-primary">Edit</md-button>
				<md-button ng-click="vm.deleteListing($event, classified)" class="md-warn">Delete</md-button>
			</div>
		</div>
		<div layout="column" layout-align="center end">
			<h4>{{ classified.dateposted | date }}</h4>
		</div><!-- ./ laytou=column -->
	</md-card-content><!-- ./ md-card-content -->
</md-card><!-- ./ md-card -->